/* Hide vertical scrollbar */
html {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Ensure content doesn't overflow */
body {
    overflow-x: hidden;
    width: 100%;
} 